/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

.cf {
	clear: both;
}

body {
	background: #ccc;
}

header {
	background-color: white;
	padding: 20px;

	.content {
		width: 100%;
		max-width: 980px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	h1 {
		// flex-grow: 1;
		// width: 50%;
		.logo {
			// float: left;
			width: 75px;
		}
	}
	nav {
		// flex-grow: 1;
		// width: 50%;
		text-align: right;
		// float: right;
		.hamburger {
			width: 32px;
			margin-top: 25px;
			div {
				height: (32px / 5);
				margin-bottom: (32px / 5);
				background-color: #D71F26;
			}
		}
		ul {
			display: none;
		}
	}
}