/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}




/* 2. Content ================================= */

body {
	background: #ccc;
	font-family: sans-serif;
}

header {
	background-color: white;
	padding: 20px;

	.content {
		width: 100%;
		max-width: 980px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	h1 {
		// flex-grow: 1;
		// width: 50%;
		.logo {
			// float: left;
			width: 75px;
		}
	}
	nav {

		.hamburger {
			position: absolute;
			z-index: 101;
			top: 30px;
			right: 30px;
			width: 32px;
			margin-top: 25px;
			div {
				height: (32px / 5);
				margin-bottom: (32px / 5);
				background-color: #D71F26;
			}
		}
		ul {
			display: none;
		}
	}
}